:root{
    --main-content: #f39407fa;
    
}
/* Universal */
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* Container */
.container{
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #816f53dd;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: gainsboro;
    padding: 0;
    margin: 0;
}
/* button Add */
.btn-add{
    font-size: 2rem;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    background: green;
    color: var(--main-content);
    cursor: pointer;
    font-weight: 700;
    padding: 1rem 1.5rem;
}
.btn-add:hover{
    background: gray;
}
/* Menu Bar */
.MenuBar{
    background-color: rgb(148, 51, 51);
}
.MenuBar ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    padding: 0;
}
/* Menu Bar */
.MenuBar ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}
/* Active */
.active{
    /* padding: 1rem 1.5rem; */
    background: rgb(113, 128, 0);
}
/* Popup */
.popup{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(154, 154, 154, 0.685);
    z-index: 11;
}
/* Form Control */
.frm{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,0);
    width: 70%;
    overflow: hidden;
    border-radius: 7px;
    background-color: rgb(197, 193, 193);
    z-index: 12;
    position: relative;
}
/* City */
.frm .city{
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .9rem;
    color: white;
    font-size: 1.5rem;
    background-color: gray;
    position: relative;
}
/* Button Close */
.btn-close{
    /* padding: 1rem 1.5rem; */
    font-size: 1rem;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
}
.btn-close:hover{
    background-color: crimson;
}
.Body{
    position: relative;
    /* margin: auto; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-top: 25px; */
    padding: 1.2rem 1.4rem;
    /* float: left; */
    background-color: green;
}
.frm .box1{
    width: 40%;
    float: left;
}
.frm .box2{
    width: 100%;
    margin: auto;
    float: right;
    margin-left: 1%;
}
/* Input */
label{
    width: 100%;
    color: white;
    float: left;
    margin-top: 15px;
}
input{
    width: 100%;
    float: left;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 5px;
    outline: none;
}
select{
    width: 100%;
    float: left;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 5px;
    outline: none;
}
option{
    width: 100%;
    float: left;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 5px;
    outline: none;
}
textarea{
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    outline: none;
}
/* Footer */
.footer{
    width: 100%;
    background-color: gray;
    
    
}
.footer .btn-save{
    margin: 10px;
    color: white;
    float: right;
    padding: .5rem .9rem;
    cursor: pointer;
    background: black;
    padding: 7px;
    border-radius: 5px;
}
.footer .btn-save:hover{
    background-color: green;
}
.img-btn{
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid gray;
    
}
.img-btn input{
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
/* Table */
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 15px;
}
tr th{
    border: 1px solid gray;
}
tr td{
    border: 1px solid gray;
}