:root{
    --main-content: #f39407fa;
    
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #816f53dd;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: gainsboro;
    padding: 0;
    margin: 0;
}
.btn-add{
    font-size: 2rem;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    background: green;
    color: var(--main-content);
    cursor: pointer;
    font-weight: 700;
    padding: 1rem 1.5rem;
}
.btn-add:hover{
    background: gray;
}
.MenuBar{
    background-color: rgb(148, 51, 51);
}
.MenuBar ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    padding: 0;
}
.MenuBar ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}
.active{
    /* padding: 1rem 1.5rem; */
    background: rgb(113, 128, 0);
}
.popup{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(154, 154, 154, 0.685);
    z-index: 11;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 15px;
}
tr th{
    border: 1px solid gray;
}
tr td{
    border: 1px solid gray;
}